.login_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #EBEBEB;

  .login_form_container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 450px;
    height: 310px;
    border: 1px solid white;
    padding: 36px 36px 66px 36px;

    .login_form {
      display: flex;
      flex-flow: column nowrap;
  
      h6 {
        margin-top: 0;
        font-size: 12px;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
    
      .login_username_container, .login_password_container {
        position: relative;
        input[type="text"], input[type="password"] {
          border: 0;
          outline: 0;
          width: 100%;
          padding-bottom: 13px;
          margin-bottom: 40px;
          background: none;
          border-bottom: 1px solid black;

          &.input_error {
            border-bottom: 1px solid red;
          }
        }

        .login_form_error {
          position: absolute;
          margin: 0;
          top: 0;
          right: 0;
          margin-top: 4px;
          text-transform: uppercase;
          font-size: 11px;
          color: red;
        }
      }

      input[type="submit"] {
        position: absolute;
        border: none;
        outline: none;
        bottom: 0;
        align-self: center;
        padding-top: 23px;
        padding-bottom: 23px;
        width: 140px;
        margin-bottom: -33px;
        letter-spacing: 1px;
        background: black;
        color: #D0D0D0;
        cursor: pointer;
      }
    }

    .login_form_links_container {
      display: flex;
      justify-content: space-between;

      p {
        text-transform: uppercase;
        font-size: 12px; 
        &:hover{
          transition: 0.25s;
          color:grey;
        }     
      }
      .register_button {
        text-decoration: none;
        color: inherit;
       
      }
    }

    .validation_error_container {
      position: absolute;
      width: 450px;
      padding: 12px 36px 12px 36px;
      top: 0;
      margin-left: -37px;
      margin-top: -64px;
      border: 1px solid white;
      text-transform: uppercase;
      font-size: 12px;

      p {
        margin: 0;
      }
    }
  }
}