html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'LightWebFont'; }

.user-profile-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #EBEBEB;
  border: 1px solid red;
  margin: 0 auto; }
  .user-profile-container .header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5rem; }
    .user-profile-container .header .single-user-username {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: .4em;
      color: #000;
      font-family: 'RegularWebFont';
      line-height: 1.4285;
      letter-spacing: .05em;
      width: 20%;
      height: 10%;
      padding: 20px; }
    .user-profile-container .header .add_item_button {
      display: flex;
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
      height: 20%;
      width: 20%; }
  .user-profile-container .user_list_item_container {
    display: flex;
    border: 1px solid red;
    margin-top: 15rem; }
    .user-profile-container .user_list_item_container .item-list-container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 100vh;
      background: #EBEBEB; }
      .user-profile-container .user_list_item_container .item-list-container .item-list {
        margin-top: 15rem;
        position: relative;
        height: 50%;
        width: 50%;
        background: #EBEBEB; }
        .user-profile-container .user_list_item_container .item-list-container .item-list img {
          width: 90%;
          margin: 10px; }
