@mixin flex-settings($display, $flow, $justify) {
  display: $display;
  flex-flow: $flow;
  justify-content: $justify;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

html, body, #root {
  margin: 0;  
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'LightWebFont';
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #EBEBEB;
  border: 1px solid red;
  margin: 0 auto;
  
.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100vw;
  height: 5rem;
  border: 1px solid blue;
    .single-user-username {
      border: 1px solid black;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: .4em;
      color: #000;
      font-family: 'RegularWebFont';
      line-height: 1.4285;
      letter-spacing: .05em;
      width: 20%;
      height: 40%;
      padding: 20px;
    }
      .add_item_button {
        border: 1px solid black;
        display: flex;
        text-align: center;
        text-transform: uppercase;
        padding: 20px;
        height: 40%;
        width: 20%;
      }
  }
}  
.item-container {
  display: flex;
  align-items: center;
  flex-flow: row;
  margin: 0 auto;
  margin-top: 10rem;
  border: 1px solid green;
  width: 80%;
  
  .item-list-container {
    border: 1px solid purple;
    margin: 0;
    height: 90%;
    width: 100%;
    background: #EBEBEB;

    .react-item-container {
      border: 1px solid red;
      width:20px;
      height: 100%;
    }
 
    img {
      margin: 10px;
      @include width-height(90%, 150px);
      object-fit: cover;
    }
  
    .arrow {
    width: 30px;
    height:30px;
    cursor: pointer;
    z-index: 80;
    }
  }

}


