.header .base_navigation_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #EBEBEB;
  width: 65px;
  height: 100%;
  border-right: 1px solid white;
  z-index: 10; }
  .header .base_navigation_bar span:hover {
    cursor: pointer; }

.header .navigation_menu, .header .navigation_categories {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  background: #EBEBEB;
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 10; }
  .header .navigation_menu h6, .header .navigation_categories h6 {
    font-size: 16px; }
  .header .navigation_menu .navigation_menu_links, .header .navigation_menu .navigation_categories_links, .header .navigation_categories .navigation_menu_links, .header .navigation_categories .navigation_categories_links {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    top: 50%; }
    .header .navigation_menu .navigation_menu_links span, .header .navigation_menu .navigation_categories_links span, .header .navigation_categories .navigation_menu_links span, .header .navigation_categories .navigation_categories_links span {
      text-align: center;
      padding: 15px 0; }
      .header .navigation_menu .navigation_menu_links span:hover, .header .navigation_menu .navigation_categories_links span:hover, .header .navigation_categories .navigation_menu_links span:hover, .header .navigation_categories .navigation_categories_links span:hover {
        cursor: pointer; }

.header .navigation_menu {
  width: 250px;
  margin-left: 65px;
  animation: menu_slide_out .3s ease-out; }
  .header .navigation_menu .navigation_menu_links {
    margin-top: -164px; }

.header .navigation_categories {
  width: 400px;
  margin-left: 315px;
  animation: categories_slide_out .5s ease-out; }
  .header .navigation_categories .navigation_categories_links {
    margin-top: -212px;
    text-transform: uppercase; }

.header .hide_menu {
  margin-left: -255px;
  animation: menu_slide_in .4s ease-out; }

.header .hide_categories {
  margin-left: -405px;
  animation: categories_slide_in .4s ease-out; }

.header .blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.775);
  z-index: 10; }

@keyframes menu_slide_out {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 65px; } }

@keyframes menu_slide_in {
  0% {
    margin-left: 65px; }
  100% {
    margin-left: -255px; } }

@keyframes categories_slide_out {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 315px; } }

@keyframes categories_slide_in {
  0% {
    margin-left: 315px; }
  100% {
    margin-left: -405px; } }
_menu_links {
    margin-top: -164px; }

.header .navigation_categories {
  width: 400px;
  margin-left: 315px;
  animation: categories_slide_out .5s ease-out; }
  .header .navigation_categories .navigation_categories_links {
    margin-top: -212px;
    text-transform: uppercase; }

.header .hide_menu {
  margin-left: -255px;
  animation: menu_slide_in .4s ease-out; }

.header .hide_categories {
  margin-left: -405px;
  animation: categories_slide_in .4s ease-out; }

.header .blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.775);
  z-index: 10; }

@keyframes menu_slide_out {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 65px; } }

@keyframes menu_slide_in {
  0% {
    margin-left: 65px; }
  100% {
    margin-left: -255px; } }

@keyframes categories_slide_out {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 315px; } }

@keyframes categories_slide_in {
  0% {
    margin-left: 315px; }
  100% {
    margin-left: -405px; } }
