.header {
  .base_navigation_bar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #EBEBEB;
    width: 65px;
    height: 100%;
    border-right: 1px solid white;
    z-index: 10;
    

    .home_button {
      display: flex;
      align-items: flex;
      position: absolute;
      margin-top: 2rem;
      top: 0;
      color: inherit;
      text-decoration: none;

      &:hover {
        transition: 0.25s;
        color: grey;
      }
    }

    span {
        &:hover {
        cursor: pointer;
        transition: 0.25s;
        color: grey;
      }
    }
  }

  .navigation_menu, .navigation_categories {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    background: #EBEBEB;
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    z-index: 10;

    h6 {
      font-size: 16px;
    }

    .navigation_menu_links, .navigation_categories_links {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      width: 100%;
      top: 50%;

      span, a {
        text-align: center;
        padding: 15px 0;

        &:hover {
          cursor: pointer;
          transition: 0.25s;
          color: black;
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
      }

      &:hover {
        color: grey;
      }
    }
  }

  .navigation_menu {
    width: 250px;
    margin-left: 65px;
    animation: menu_slide_out .3s ease-out;

    .navigation_menu_links {
      margin-top: -164px;
    }
  }

  .navigation_categories {
    width: 400px;
    margin-left: 315px;
    animation: categories_slide_out .5s ease-out;

    .navigation_categories_links {
      margin-top: -212px;
      text-transform: uppercase;
    }
  }

  .hide_menu {
    margin-left: -255px;
    animation: menu_slide_in .4s ease-out;
  }

  .hide_categories {
    margin-left: -405px;
    animation: categories_slide_in .4s ease-out;
  }

  .blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.775);
    z-index: 10;
  }
}

@keyframes menu_slide_out {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 65px;
  }
}

@keyframes menu_slide_in {
  0% {
    margin-left: 65px;
  }
  100% {
    margin-left: -255px;
  }
}

@keyframes categories_slide_out {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 315px;
  }
}

@keyframes categories_slide_in {
  0% {
    margin-left: 315px;
  }
  100% {
    margin-left: -405px;
  }
}

