.category_list_container {
  position: relative;
  width: 100%; }
  .category_list_container .category_main_image {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 66px;
    right: 0;
    height: 100vh;
    background: red; }
  .category_list_container .category_spacer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 100vh; }
    .category_list_container .category_spacer .category_information_container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      max-width: 555px;
      bottom: 0;
      margin-bottom: 90px;
      opacity: 1; }
      .category_list_container .category_spacer .category_information_container h2 {
        margin-top: 0;
        text-transform: uppercase;
        color: #FBFBFB; }
      .category_list_container .category_spacer .category_information_container p {
        color: #FBFBFB; }
  .category_list_container .category_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    left: 0;
    right: 0;
    background: #EBEBEB;
    z-index: 3;
    border-top: 2px solid white;
    border-bottom: 2px solid white; }
    .category_list_container .category_header span {
      padding: 28px 0;
      text-align: center;
      text-transform: uppercase; }
  .category_list_container .sticky {
    position: fixed;
    top: 0;
    left: 66px; }
  .category_list_container .item_container {
    position: relative;
    width: 50px;
    height: 1000px;
    position: relative;
    width: 100%;
    background: #EBEBEB; }
