.category_list_container {
  position: relative;
  width: 100%; }
  .category_list_container .category_main_image {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 65px;
    right: 0;
    height: 100vh;
    background: red; }
  .category_list_container .category_spacer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 100vh; }
    .category_list_container .category_spacer .category_information_container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      max-width: 555px;
      bottom: 0;
      margin-bottom: 90px;
      opacity: 1; }
      .category_list_container .category_spacer .category_information_container h2 {
        margin-top: 0;
        text-transform: uppercase;
        color: #FBFBFB; }
      .category_list_container .category_spacer .category_information_container p {
        color: #FBFBFB; }
  .category_list_container .category_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    left: 0;
    right: 0;
    background: #EBEBEB;
    z-index: 3;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: -76px; }
    .category_list_container .category_header .all_items_button, .category_list_container .category_header .add_item_button {
      padding: 28px 0;
      text-transform: uppercase;
      width: 200px; }
    .category_list_container .category_header .all_items_button {
      margin-left: 20px; }
    .category_list_container .category_header .add_item_button {
      text-align: center; }
    .category_list_container .category_header .search_bar {
      outline: 0;
      border: 0;
      width: 200px;
      height: 35px;
      padding: 15px;
      margin-right: 20px;
      background: #EBEBEB;
      border-bottom: 1px solid black;
      text-align: center;
      align-self: center; }
  .category_list_container .sticky {
    position: fixed;
    top: 0;
    left: 65px; }
  .category_list_container .category_list_items_container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-top: 76px;
    min-height: 100vh;
    background: #EBEBEB; }
    .category_list_container .category_list_items_container .item_container {
      position: relative;
      height: 270px;
      width: 50%;
      background: #EBEBEB;
      border-bottom: 1px solid white; }
      .category_list_container .category_list_items_container .item_container:nth-child(2n) {
        border-left: 1px solid white; }
      .category_list_container .category_list_items_container .item_container:last-child {
        margin: 0 auto; }
