html, body, #root {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  font-family: 'LightWebFont'; }

* {
  box-sizing: border-box; }

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%; }
  .outer_page_container .page_spacer {
    min-width: 65px;
    height: stretch; }
  .outer_page_container .app_content {
    width: 100%; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2"); }

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2"); }

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2"); }
