@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2"); }

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2"); }

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2"); }

/* User Profile */
