html, body {
  margin: 0;  
  padding: 0;
}

.app_content {
  margin-left: 65px;
}

.single-item-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #EBEBEB;
}
 


.single-item-description {
  font-family: Courier New, Courier, monospace
}