html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'LightWebFont'; }

* {
  box-sizing: border-box; }

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%; }
  .outer_page_container .page_spacer {
    min-width: 65px;
    height: stretch; }
  .outer_page_container .app_content {
    width: 100%; }

    /*ADD NEW ITEM FORM */

.form-bg {
  height: 100%;
  position: fixed;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.addNewItemContainer {
  width:15rem;
  height:19rem; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: #EBEBEB;
  align-items: center;
  box-shadow: 7px 7px 2px 1px rgba(53, 45, 45, 0.164);
  margin-top: 10rem;
  transition: 0.3s;
  
}

.inputField {
  border: none;
  border-bottom: 1px solid black;
  text-align: center; 
  display:flex;
  background:#EBEBEB;
  justify-content: center;
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
}

button{
  background: none ;
  border: none;
  transition: 0.2s;
}

button:hover {color: grey} 

select {
  background: none;
  border:none;
}
 
.addButton {
  display: flex;
  justify-content: center;
  
}

.close-btn {
  display: flex;
  margin-left: 100%;
}


  /*^^ADD NEW ITEM FORM^^*/
@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2"); }

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2"); }

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2"); }
