html, body, #root {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  font-family: 'LightWebFont'; }

.single-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: #EBEBEB;
  margin: 0 auto; }

.item-content {
  display: flex;
  flex-flow: column nowrap;
  width: 410px; }

.single-item-image img {
  width: 90%;
  margin: 17px; }

.top-row {
  border-bottom: white 2px solid;
  display: flex;
  justify-content: space-between; }
  .top-row .single-item-title {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }
  .top-row .single-item-price {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }
  .top-row .single-item-condition {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }

.middle-row {
  border-bottom: white 2px solid;
  display: flex;
  justify-content: space-between; }
  .middle-row .single-item-description {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em;
    padding-top: 20px;
    padding-bottom: 20px; }

/* EDIT ITEM FORM */
.form-background {
  height: 100%;
  position: fixed;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  z-index: 99; }

.edit-item-form {
  width: 15rem;
  height: 19rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: #EBEBEB;
  align-items: center;
  box-shadow: 7px 7px 2px 1px rgba(53, 45, 45, 0.164);
  margin-top: 10rem;
  transition: 0.3s; }
  .edit-item-form .inputField {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    background: #EBEBEB;
    justify-content: center;
    margin: 0 auto; }
  .edit-item-form input:focus,
  .edit-item-form select:focus,
  .edit-item-form textarea:focus,
  .edit-item-form button:focus {
    outline: none; }
  .edit-item-form .submitButton {
    display: flex;
    justify-content: center; }
  .edit-item-form button {
    background: none;
    border: none;
    transition: 0.2s; }
  .edit-item-form button:hover {
    color: grey; }
  .edit-item-form select {
    background: none;
    border: none; }

* {
  box-sizing: border-box; }

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%; }
  .outer_page_container .page_spacer {
    min-width: 65px; }
  .outer_page_container .app_content {
    width: 100%;
    background: #EBEBEB; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2"); }

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2"); }

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2"); }
