html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%; }
  .outer_page_container .page_spacer {
    min-width: 66px;
    height: stretch; }
  .outer_page_container .app_content {
    width: 100%; }
