html, body, #root {
  margin: 0px;  
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  font-family: 'LightWebFont';
}

/* EDIT ITEM FORM */

.form-background {
  height: 100%;
  position: fixed;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.edit-item-form {
  width:15rem;
  height:19rem; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: #EBEBEB;
  align-items: center;
  box-shadow: 7px 7px 2px 1px rgba(53, 45, 45, 0.164);
  margin-top: 10rem;
  transition: 0.3s;
  

  .inputField {
    border: none;
    border-bottom: 1px solid black;
    text-align: center; 
    display:flex;
    background:#EBEBEB;
    justify-content: center;
    margin: 0 auto;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  .submitButton {
    display: flex;
    justify-content: center;
  }
  
  button{
    background: none ;
    border: none;
    transition: 0.2s;
  }
  button:hover {color: grey} 
  
  select {
    background: none;
    border:none;
  }
}
  
  
* {
  box-sizing: border-box;
}

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  
  .page_spacer {
    min-width: 65px;
  }

  .app_content {
    width: 100%;
    background: #EBEBEB;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2");
}

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2");
}

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2");
}