html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'LightWebFont'; }

.single-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: #EBEBEB;
  margin: 0 auto; }

.item-content {
  display: flex;
  flex-flow: column nowrap;
  width: 410px; }

.single-item-image img {
  width: 90%;
  margin: 17px; }

.top-row {
  border-bottom: white 2px solid;
  display: flex;
  justify-content: space-between; }
  .top-row .single-item-title {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }
  .top-row .single-item-price {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }
  .top-row .single-item-condition {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em; }

.middle-row {
  border-bottom: white 2px solid;
  display: flex;
  justify-content: space-between; }
  .middle-row .single-item-description {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4em;
    color: #000;
    font-family: cf_asty,Helvetica,Arial,sans-serif;
    line-height: 1.4285;
    letter-spacing: .05em;
    padding-top: 20px;
    padding-bottom: 20px; }

.edit-item-form {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 16rem;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

.outer_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%; }
  .outer_page_container .page_spacer {
    min-width: 65px;
    height: stretch; }
  .outer_page_container .app_content {
    width: 100%;
    background: #EBEBEB; }

@font-face {
  font-family: 'RegularWebFont';
  src: url("../../regular.woff2"); }

@font-face {
  font-family: 'LightWebFont';
  src: url("../../light.woff2"); }

@font-face {
  font-family: 'MediumWebFont';
  src: url("../../medium.woff2"); }
