.home_page_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100%;
  background: #EBEBEB;
  position: relative; }
  .home_page_container .background_image {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 250px;
    z-index: 0;
    background-size: cover; }
  .home_page_container .current_category_content_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    z-index: 1; }
    .home_page_container .current_category_content_container h2 {
      align-self: flex-end;
      text-transform: uppercase; }
    .home_page_container .current_category_content_container .highlight_container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-left: 65px; }
      .home_page_container .current_category_content_container .highlight_container .highlighted_item {
        width: 550px;
        height: 330px;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        margin-bottom: 55px;
        z-index: 1; }
      .home_page_container .current_category_content_container .highlight_container .discover_button {
        position: absolute;
        width: 140px;
        line-height: 60px;
        bottom: 0;
        margin-bottom: 25px;
        background: black;
        color: #D0D0D0;
        z-index: 2;
        text-align: center;
        cursor: pointer; }
  .home_page_container .home_navigation_bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    .home_page_container .home_navigation_bar span {
      padding: 30px; }
      .home_page_container .home_navigation_bar span:hover {
        cursor: pointer; }
